{extends @layout.latte}

{block content}

<h1>{$title}</h1>

<p><strong>Мене звати:</strong> {$myName}</p>
<p><strong>Університет:</strong> {$myUni}</p>
<p><strong>Група:</strong> {$myGroup}</p>

<h3>Мої навички:</h3>
<ul>
    {foreach $skills as $skill}
        <li>{$skill}</li>
    {/foreach}
</ul>

{/block}
